html,
body,
#root {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #F0ECE3;
  flex: 1;
  padding: 10px 20px;
}

.logo {
  height: 60px;
  margin: 16px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-end !important;
}

.logo .logo-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}

.logo img {
  height: 60px;
  object-fit: contain;
  display: block;
}

.site-layout-background {
  background: #fff;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.stats-item {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 20px !important;
}

.stats-item h4 {
  font-size: 20px !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}

.stats-item p {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.currencies-image {
  width: 55px;
  height: 55px;
}

.crypto-card-container {
  display: flex !important;
  margin-top: 20px !important;
}

.crypto-image {
  width: 35px;
}

.site-card-wrapper{
  padding: 10px;
}

.search-bar{
  padding: 10px 0 !important;
}
.search-bar input{
  padding: 10px !important;
}