:root {
    --color-primary: #040c18;
    --color-border: #dedede;
    --color-orange: #ff8a71;
    --color-orangered: #ff4820;
    --color-darkblue: #0085ad;
    --color-text: #4298b5;
    --color-green: #00b894;
    --color-white: #f5f5f5;
    --color-star: #ffc107;
}